h1 {
    font-family: Comic Sans Ms, sans-serif;
    font-size: 60px;
    text-align: center;
}

body{
    background-color: #F2F2F2;
}

header {
    background-color: black;
    padding: 10px 0px 10px 0px;
}

.flexgrow-container {
    display: flex;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    background-color: red;
    padding: 20px 0px 20px 0px;
}

.container-navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    border: 1px solid blueviolet;
    border-radius: 5px;
    font-family: 'Josefin Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;
}

button:hover {
    background-color: limegreen;
    color: white;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}
